<router-outlet></router-outlet>
<h1>Org Website Users</h1>
<table>
  <tr>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Phone</th>
    <th>Username</th>
    <th>Website</th>
  </tr>
  <tr *ngFor = "let user of orgWebsiteUserDetails">
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.username}}</td>
    <td>{{user.website}}</td>
  </tr>
</table>

<h1>Non-Org Website Users</h1>
<table>
  <tr>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Phone</th>
    <th>Username</th>
    <th>Website</th>
  </tr>
  <tr *ngFor = "let user of otherWebsiteUserDetails">
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.username}}</td>
    <td>{{user.website}}</td>
  </tr>
</table>